:root{
    --granny-smith-apple: #88d18aff;
    --tea-green: #ccddb7ff;
    --mauve: #dabfffff;
    --black-chocolate: #0f1108ff;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--tea-green);
    font-family: 'Inter', sans-serif;
    font-family: 'Domine', serif;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: aliceblue;
}
